<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine learning</title>
    <script src="https://kit.fontawesome.com/e7754be045.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilosos.css') }}">
</head>
<body>
    <header>
        <div class="header_superior">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo2.png') }}" alt="logo">
            </div>
        </div>

        <div class="container_menu">
            <div class="menu">
                <input type="checkbox" id="check">
                <label id="label__check" for="check">
                    <i class="fa-solid fa-bars icon__menu"></i>
                </label>
                <nav>
                    <ul>
                        <li><a href="#" id="selected">Inicio</a></li>
                        <li><a href="#">algoritmos</a>
                            <ul>
                                <li><a href="{{ url_for('calcular') }}" class="navbar-item">regresion lineal</a></li>
                                <li><a href="{{ url_for('predict') }}">regresion logistica</a></li>
                            </ul>
                        </li>
                        <li><a href="#">informacion</a>
                            <ul>
                                <li><a href="{{ url_for('helloHTML') }}" class="navbar-item">Caso exito</a></li>
                                <li><a href="{{ url_for('mapa') }}" class="navbar-item">mapa regresion logistica</a></li>
                                <li><a href="{{ url_for('modelosML') }}" class="navbar-item">Modelos ML</a>
                                    <ul>
                                        <li><a href="{{ url_for('modelosML') }}?tipo=1" class="navbar-item">Regresión logistica</a></li>
                                        <li><a href="{{ url_for('modelosML') }}?tipo=2" class="navbar-item">K-Nearest Neighbors</a></li>
                                        <li><a href="{{ url_for('modelosML') }}?tipo=3" class="navbar-item">Árboles de Decisión</a></li>
                                        <li><a href="{{ url_for('modelosML') }}?tipo=4" class="navbar-item">Random Forest</a></li>
                                        <li><a href="{{ url_for('modelosML') }}?tipo=5" class="navbar-item">Support Vector Machine</a></li>
                                        <li><a href="{{ url_for('modelosML') }}?tipo=6" class="navbar-item">Gradient Boosting</a></li>
                                        <li><a href="{{ url_for('modelosML') }}?tipo=7" class="navbar-item">Naive Bayes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">ejercicios</a>
                            <ul>
                                <li><a href="{{ url_for('hello_form') }}" class="navbar-item">Hello There</a></li>
                                <li><a href="{{ url_for('RLResult') }}" class="navbar-item">Reforce Learning</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    
    <main>
        <h1>Hello Flask</h1>
    </main>
    
</body>
</html>